<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>Title</title>
</head>
<body>
<div class="header">
    <img class="icon" src="/images/batbatcar.png">
    <p class="app-name">Aplicación Bat Bat Car v2</p>
</div>
<div class="section">
    <h3><strong>Listado de Viajes</strong></h3>
    <a href="/viajes/add" class="button-add">Añadir Viaje</a>

    <form action="#" th:action="@{/viajes}" method="get">
        <input type="text" name="ciudad" placeholder="Buscar por ciudad">
        <input type="submit" value="Buscar">
    </form>
</div>
<div th:if="${mensaje}" class="alert alert-success" role="alert">
    <p th:text="${mensaje}"></p>
</div>
<table class="viajes">
    <tr>
        <th>Cod. Viaje</th>
        <th>Ruta</th>
        <th>Propietario</th>
        <th>Fecha y hora de salida</th>
        <th>Estado</th>
        <th>Reservas</th>
        <th>Acciones</th>
    </tr>
    <tr th:each="viaje: ${viajes}">
        <td th:text="${viaje.getCodViaje()}"></td>
        <td th:text="${viaje.getRuta()}"></td>
        <td th:text="${viaje.getPropietario()}"></td>
        <td th:text="${#temporals.format(viaje.getFechaSalida(), 'dd-MM-yyyy ''a las'' HH:mm')}"></td>
        <td th:classappend="${(viaje.estaDisponible()) ? 'abierto':'cerrado'}" th:text="${viaje.getEstado()}"></td>
        <td>
            <span th:if="${viaje.seHanRealizadoReservas}">Sí</span>
            <span th:unless="${viaje.seHanRealizadoReservas}">No</span>
        </td>
        <td>
            <a th:href="@{/viaje(codViaje=${viaje.getCodViaje()})}" class="btn btn-info">Ver detalle</a>
            <a th:href="@{/viaje/reservas(codViaje=${viaje.getCodViaje()})}" class="btn btn-info">Ver reservas</a>
            <a th:if="${viaje.estaDisponible()}" th:href="@{/viaje/cancelar(codViaje=${viaje.getCodViaje()})}" class="btn btn-danger">Cancelar</a>
        </td>
    </tr>
</table>
</body>
</html>