<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalle del Viaje</title>
    <link rel="stylesheet" href="/css/viaje_form.css">
</head>
<body>
<h1>Detalle del Viaje</h1>

<form>
    <label for="ruta">Ruta:</label><br>
    <input type="text" id="ruta" name="ruta" th:value="${viaje.ruta}" readonly><br>

    <label for="plazas">Plazas ofertadas:</label><br>
    <input type="number" id="plazas" name="plazas" th:value="${viaje.plazasOfertadas}" readonly><br>

    <label for="propietario">Propietario:</label><br>
    <input type="text" id="propietario" name="propietario" th:value="${viaje.propietario}" readonly><br>

    <label for="precio">Precio:</label><br>
    <input type="number" id="precio" name="precio" th:value="${viaje.precio}" readonly><br>

    <label for="duracion">Duración:</label><br>
    <input type="number" id="duracion" name="duracion" th:value="${viaje.duracion}" readonly><br>

    <label for="diaSalida">Día de salida:</label><br>
    <input type="date" id="diaSalida" name="diaSalida" th:value="${viaje.diaSalidaFormatted}" readonly><br>

    <label for="horaSalida">Hora de salida:</label><br>
    <input type="time" id="horaSalida" name="horaSalida" th:value="${viaje.horaSalidaFormatted}" readonly><br>
</form>

<a href="/viajes"><button type="button">Volver al listado</button></a>
</body>
</html>