body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}

table {
    width: 80%;
    margin: 50px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #5C6BC0;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #FF4081;
    cursor: pointer;
}

button:hover {
    background-color: #E91E63;
}